@import '../../utils/_colors.scss';
@import '../../utils/_fonts.scss';

.login-wrapper {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 0 0 4%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-logo {
  max-width: 200px;
}

.login-box {
  margin-top: 40px;
  width: 45vh;
  height: 50vh;
  background-color: $cityBlue;
  border-radius: 8px;
  .login-text {
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 21px;
    color: $offWhite;
    text-align: center;
    letter-spacing: 0.12px;
    line-height: 35px;
  }
  hr {
    width: 365px;
    margin: 30px auto;
    border: none;
    height: 2px;
    background-color: $cityBronze;
  }
  .login-buttons-wrapper {
    //max-width: 215px;
    width: 290px;
    height: 90px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }

  .login-screen-or {
    margin: 0 auto;
    width: 365px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    span {
      margin: 0 1em;
    }
  }
}

.login-screen-auth-input-container {
  margin: auto;
  width: 70%;

  .login-screen-auth-input {
    box-sizing: border-box;
    width: 100%;
    height: 3em;
    outline: none;
    border-radius: 5px;
    padding: 0 1.2em;
    border-color: $offWhite;
    margin-bottom: 1em;

    &:focus {
      border-color: $cityBronze;
    }
  }
}

.login-screen-auth-button-container {
  margin: 1em auto 0;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .login-screen-need-help-link {
    margin-top: 1em;
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 0.03em;
  }
}
